/* Default styles for small screens */
body{
    background-color: rgb(11, 214, 11);
    font-family:'Courier New', Courier, monospace;
}

main {
    display: flex;
    flex-direction: column;
}
@media screen and (width > 600px) {
    body {
        background-color: blueviolet;
    }
    main {
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
    }  
  /* Clear floats after the columns */
/* .column {
        float: left;
        width: 33.33%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }  
*/
}