/* Default styles for small screens */
body{
    background-color: rgb(11, 214, 11);
    font-family:'Courier New', Courier, monospace;
}
@media screen and (width > 600px) {
    body {
        background-color: blueviolet;
    }  
  /* Clear floats after the columns */
    .column {
        float: left;
        width: 33.33%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }  
}